.container {
    max-width: 960px;
}

.container hr {
    color: #999;
    border-color: #999;
    background-color: #999;
}

.input-address {
    width: 100%;
}

.btn-search-wrapper {
    padding-right: 0;
}

.btn-search {
    float: right;
    width: 100%;
}

.search-options {
    margin-top: 7px;
}

.search-options div:first-child {
    line-height: 30px;
}

#search-left-pane > .jumbotron, #search-right-pane > .jumbotron {
    padding: 20px 30px;
}

#search-pagination-top, #search-pagination-bottom {
    margin: 0;
    float: right;
}

.apartment-property {
    padding-left: 15px;
    padding-right: 0;
}

.apartment-property .glyphicon {
    padding: 0;
}

.apartment-property .apartment-property-text {
    font-weight: bold;
    text-overflow: clip;
}

.apartment-properties-row {
    margin-bottom: 15px
}

.search-right-pane-header {
    margin-bottom: 10px;
}

.apartment-submission-date {
    color: #666;
    font-size: .6em;
}