{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledgecollector/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledgecollector/css/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'knowledgecollector/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'knowledgecollector/js/knowledgecollector.js' %}"></script>

    <title>Search Page | KnowledgeCollector</title>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2>KnowledgeCollector</h2>
        <h4>Search Page</h4>
    </div>

    <div class="jumbotron">
        <form action="search" method="get">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="input-lg input-address" name="address" id="address"/>
                </div>
                <div class="col-md-2 btn-search-wrapper ">
                    <input type="submit" class="btn btn-lg btn-success btn-search" value="Szukaj"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 search-options">
                    <div class="row col-md-12">
                        Cena
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">od</span>
                                <input type="text" class="form-control" name="price_min" id="price_min"/>
                                <span class="input-group-addon">PLN</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">do</span>
                                <input type="text" class="form-control" name="price_max" id="price_max"/>
                                <span class="input-group-addon">PLN</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 search-options">
                    <div class="row col-md-12">
                        Powierzchnia
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">od</span>
                                <input type="text" class="form-control" name="surface_min" id="surface_min"/>
                                <span class="input-group-addon">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">do</span>
                                <input type="text" class="form-control" name="surface_max" id="surface_max"/>
                                <span class="input-group-addon">m<sup>2</sup></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 search-options">
                    <div class="row col-md-12">
                        Liczba pokoi
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">od</span>
                                <input type="text" class="form-control" name="rooms_min" id="rooms_min"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="input-group">
                                <span class="input-group-addon">do</span>
                                <input type="text" class="form-control" name="rooms_max" id="rooms_max"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="footer">
    <div class="container">
    </div>
</div>
</body>
</html>