{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledgecollector/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'knowledgecollector/css/style.css' %}"/>
    <script type="text/javascript" href="{% static 'knowledgecollector/js/bootstrap.min.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Search Results | KnowledgeCollector</title>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h2>KnowledgeCollector</h2>
        <h4>Search Results</h4>
    </div>
    <form name="seachform" action="search" method="get">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="input-lg input-address" name="address" value="{{ address }}"
                           id="address"/>
                </div>
                <div class="col-md-2 btn-search-wrapper">
                    <input type="submit" class="btn btn-lg btn-success btn-search" value="Szukaj"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="search-left-pane" class="col-md-3">
                <div class="jumbotron">
                    <div class="row">
                        Cena
                    </div>
                    <div class="row search-options">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">od</span>
                            <input type="text" class="form-control" name="price_min" value="{{ price_min }}"
                                   id="price_min"/>
                            <span class="input-group-addon">PLN</span>
                        </div>
                    </div>
                    <div class="row search-options">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">do</span>
                            <input type="text" class="form-control" name="price_max" value="{{ price_max }}"
                                   id="price_max"/>
                            <span class="input-group-addon">PLN</span>
                        </div>
                    </div>
                    <div class="row search-options">
                        Powierzchnia
                    </div>
                    <div class="row search-options">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">od</span>
                            <input type="text" class="form-control" name="surface_min" value="{{ surface_min }}"
                                   id="surface_min"/>
                            <span class="input-group-addon">m<sup>2</sup></span>
                        </div>
                    </div>
                    <div class="row search-options">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">do</span>
                            <input type="text" class="form-control" name="surface_max" value="{{ surface_max }}"
                                   id="surface_max"/>
                            <span class="input-group-addon">m<sup>2</sup></span>
                        </div>
                    </div>
                    <div class="row search-options">
                        Liczba pokoi
                    </div>
                    <div class="row search-options">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">od</span>
                            <input type="text" class="form-control" name="rooms_min" value="{{ rooms_min }}"
                                   id="rooms_min"/>
                        </div>
                    </div>
                    <div class="row search-options form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">do</span>
                            <input type="text" class="form-control" name="rooms_max" value="{{ rooms_max }}"
                                   id="rooms_max"/>
                        </div>
                    </div>
                    <div class="row btn-search-wrapper search-options">
                        <input type="submit" class="btn btn-sm btn-success" value="Szukaj"/>
                    </div>
                </div>
            </div>

            <div id="search-right-pane" class="col-md-9">
                <div class="jumbotron">
                    <div class="row search-right-pane-header">
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Sortuj</span>

                                <div class="form-group">
                                    <select class="form-control" name="sort" onchange="this.form.submit()">
                                        <option></option>
                                        <option value="price">Cena</option>
                                        <option value="surface">Powierzchnia</option>
                                        <option value="number_of_rooms">Liczba pokoi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul id="search-pagination-top" class="pagination">
                                {% if current_page_number > 1 %}
                                    <li><a href="search?{{ prev_page }}">&laquo;</a></li>
                                {% endif %}
                                {% for page_href in page_hrefs %}
                                    {% ifequal forloop.counter current_page_number %}
                                        <li><a href="#">{{ current_page_number }}</a></li>
                                    {% else %}
                                        <li><a href="search?{{ page_href }}">{{ forloop.counter }}</a></li>
                                    {% endifequal %}
                                {% endfor %}
                                {% if current_page_number < page_count %}
                                    <li><a href="search?{{ next_page }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% for apartment in apartments %}
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{ apartment.title }}</p>
                            </div>
                        </div>
                        <div class="row apartment-properties-row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-2 apartment-property">
                                        <div class="btn-lg glyphicon glyphicon-screenshot"></div>
                                    </div>
                                    <div class="col-md-10 apartment-property">
                                        <span class="apartment-property-text">{{ apartment.address }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-2 apartment-property">
                                        <div class="btn-lg glyphicon glyphicon-usd"></div>
                                    </div>
                                    <div class="col-md-10 apartment-property">
                                        <span class="apartment-property-text">{{ apartment.price }} PLN</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-2 apartment-property">
                                        <div class="btn-lg glyphicon glyphicon-home"></div>
                                    </div>
                                    <div class="col-md-10 apartment-property">
                                        <span class="apartment-property-text">{{ apartment.surface }} m<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-2 apartment-property">
                                        <div class="btn-lg glyphicon glyphicon-briefcase"></div>
                                    </div>
                                    <div class="col-md-10 apartment-property">
                                        <span class="apartment-property-text">{{ apartment.price_per_surface }} PLN/m<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                {% if apartment.phone_number %}
                                    <div class="row">
                                        <div class="col-md-2 apartment-property">
                                            <div class="btn-lg glyphicon glyphicon-earphone"></div>
                                        </div>
                                        <div class="col-md-10 apartment-property">
                                            <span class="apartment-property-text">{{ apartment.phone_number }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if apartment.email %}
                                    <div class="row">
                                        <div class="col-md-2 apartment-property">
                                            <div class="btn-lg glyphicon glyphicon-pencil"></div>
                                        </div>
                                        <div class="col-md-10 apartment-property">
                                            <span class="apartment-property-text">{{ apartment.email }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <a href="{{ apartment.url }}" target="_blank"
                                   class="btn btn-primary btn-sm">Szczegóły</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="apartment-submission-date">
                                    Dodano: {{ apartment.submission_date|date:"Y-m-d" }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <ul id="search-pagination-bottom" class="pagination">
                                {% if current_page_number > 1 %}
                                    <li><a href="search?{{ prev_page }}">&laquo;</a></li>
                                {% endif %}
                                {% for page_href in page_hrefs %}
                                    {% ifequal forloop.counter current_page_number %}
                                        <li><a href="#">{{ current_page_number }}</a></li>
                                    {% else %}
                                        <li><a href="search?{{ page_href }}">{{ forloop.counter }}</a></li>
                                    {% endifequal %}
                                {% endfor %}
                                {% if current_page_number < page_count %}
                                    <li><a href="search?{{ next_page }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="container">
    </div>
</div>
</body>
</html>